:root {
  --ev-c-black: #1b1b1f;
  --ev-c-text-1: rgba(255, 255, 245, 0.86);
}

:root {
  --color-background: var(--ev-c-black);
  --color-text: var(--ev-c-text-1);
}


body {
  min-height: 100vh;
  background: var(--color-background);
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

table {
  color: var(--color-text);
}